/* Colors 

color: hsl(214 53% 75%), #SA86BF, beton-blue
color: hsl(208 56% 26%), #1C2F40, dark-grey-blue
color: hsl(208 50% 75%), #6093BF, light-beton-blue
color: hsl(50 60% 70%), #F2DF7E, ocker-gelb
color: hsl(28 45% 75%), #BF9169, dark-beige

Font Families

Font-Family: 'Roboto', Sans-Serif;
Font-Size: 48px;
Font-Family: 'Lora', Serif;
Font-Size: 14px; */

html {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

span {
    color: hsl(208 50% 75%);
}

h3 {
    color: hsl(208 56% 26%);
}

a {
    text-decoration: none;
    color: hsl(50 60% 40%);
}

p {
    width: 55%;
}

li {
    padding: 0 6px;
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    height: 3.36rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: hsl(208 56% 26%);
}

header h3 {
    font-size: 2.27rem;
    color: hsl(50 60% 50%);
    margin-left: 1.09rem;
    letter-spacing: 1px;
}

header nav {
    margin-right: 1.54rem;
}

.head-ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header .mobile {
    display: none;
}

/* Main */

/* Landing Page */

main {
    margin-top: 3.36rem;
}

.landing {
    background-color: hsl(208 50% 85%); 
    height: 22.72rem;
    width: 100%;
    display: flex;
}

.landing-image {
    display: flex;
    width: 60%;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.landing-text {
    color: hsl(50 60% 45%);
    display: flex;
    align-self: center;
    z-index: 50;
    padding-left: 0.72rem;
}

.landing-text span {
    color:  hsl(208 56% 26%);
}

/* Sections */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 11.36rem;
}

.products {
    background-color: hsl(208 50% 80%);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: hsl(208 56% 26%);
}

footer p {
    color: hsl(50 60% 50%);
    padding-left: 1.09rem;
}

footer ul {
    list-style: none;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding-right: 1.09rem;
    font-size: 0.81rem;
}

@media only screen and (max-width: 750px){
    
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
        color: hsl(50 60% 40%);
    }
}