/* Colors 

color: hsl (214 53% 75%), #SA86BF, beton-blue
color: hsl (208 56% 26%), #1C2F40, dark-grey-blue
color: hsl (208 50% 75%), #6093BF, light-beton-blue
color: hsl (50 48% 95%), #F2DF7E, ocker-gelb
color: hsl (28 45% 75%), #BF9169, dark-beige

Font Families

Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px; */

html {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Header */
header {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: hsl (208 56% 26%);
    align-content: center;
}

.head-ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

/* Main */

main {
    margin-top: 80px;
    display: flex;
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/607f5cfc70243883489231b4/solar-city/960x0.jpg?format=jpg&width=960");
    background-position: left;
    background-repeat: no-repeat;
}