/* Colors 

color: hsl(214 53% 75%), #SA86BF, beton-blue
color: hsl(208 56% 26%), #1C2F40, dark-grey-blue
color: hsl(208 50% 75%), #6093BF, light-beton-blue
color: hsl(50 60% 70%), #F2DF7E, ocker-gelb
color: hsl(28 45% 75%), #BF9169, dark-beige

Font Families

Font-Family: 'Roboto Condensed', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Cabin', Sans-Serif;
Font-Size: 16px; */

html {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: hsl(50 60% 70%);
}

/* Header */

header {
    position: fixed;
    z-index: 100;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: hsl(208 56% 26%);
}

header h3 {
    font-size: 50px;
    color: hsl(208 50% 75%);
    margin-left: 24px;
    letter-spacing: 1px;
}

header h3 span {
    color: hsl(50 60% 70%);
}

header nav {
    margin-right: 34px;
}

.head-ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.head-ul li {
    padding: 0 6px;
}

/* Main */

main {
    margin-top: 80px;
}

.landing {
    background-color: hsl(214 53% 75%);
    height: 500px;
    width: 100%;
    display: flex;
}

.landing-image {
    display: flex;
    width: 60%;
}

.landing-text {
    width: 100%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-self: center;
    z-index: 50;
    overflow: visible;
}